@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'font1';
  src: url('/fonts/font1.TTF');
}

.font1 {
  font-family: 'font1', sans-serif;
}

.logo {
  @apply absolute w-[14.844vw] top-[2.083vw] right-[25vw] animate-jump animate-infinite animate-duration-[4000ms] animate-ease-in-out; // animate-bounce animate-infinite
}
.landing {
  @apply relative w-full select-none overflow-hidden animate-fade-up;
}

.bgLanding {
  @apply h-[100%] w-[100%] max-lg:hidden;
}

.page1 {
  @apply w-[100vw] relative;
}
.pageTitle {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/page_name_bg.webp')] bg-cover bg-no-repeat w-[28.229vw] h-[9.115vw] absolute top-[38.594vw] left-[45vw] animate-fade-left bg-cover;
}
.titleText {
  @apply absolute top-[2.448vw] left-[4.531vw] uppercase text-[#e96a19] text-[1.615vw];
}

.pageLeft {
  @apply absolute left-[11.771vw] top-[47.865vw] w-[17.813vw] animate-fade-down;
}
.plTitle {
  padding: 1.458vw 1.146vw 0.938vw 1.563vw;
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/page1_slidebar_title_bg.webp')] bg-cover bg-no-repeat w-[17.656vw] h-[5.573vw] text-[1.458vw] text-white text-center flex items-center justify-center mb-[0.26vw];
}

.plTitle2 {
  @apply mt-[-0.885vw];
}

.txtDiem {
  @apply text-[2.031vw] pl-[0.573vw] animate-jump animate-once;
}

.plItem {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/page1_slidebar_item_bg.webp')] bg-no-repeat bg-cover w-[9.948vw] h-[2.708vw] text-[1.094vw] text-white text-center flex items-center justify-center mx-auto cursor-pointer mb-[0.521vw] hover:text-[#e96a19];
}
.hScale {
  @apply hover:scale-110 hover:saturate-150 transition-all;
}

.pageRight {
  @apply absolute left-[32.083vw] top-[48.177vw] w-[52.604vw] h-[22.396vw];
}
.prContent {
  @apply w-[100%] h-[100%] grid grid-cols-4 grid-rows-2;
}
.prItem {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/page1_right_item_bg.webp')] bg-cover bg-no-repeat w-[10.469vw] h-[9.792vw] relative cursor-pointer;
  &.active {
    @apply bg-[url('/project/pX9TNcP/both/img/landing202305/page1_right_item_bg_active.webp')];
    .itemCard,
    .itemCardValue,
    .itemCardScore,
    .icsText {
      text-shadow: 0.104vw 0.104vw 0 #e96a19, -0.104vw -0.104vw 0 #e96a19, 0.104vw -0.104vw 0 #e96a19, -0.104vw 0.104vw 0 #e96a19, 0.104vw 0.104vw 0 #e96a19;
    }
  }
  &:hover {
    .itemCard,
    .itemCardValue,
    .itemCardScore,
    .icsText {
      @apply saturate-200 scale-105;
    }
  }
}

.itemCard {
  text-shadow: 0.104vw 0.104vw 0 #3476e4, -0.104vw -0.104vw 0 #3476e4, 0.104vw -0.104vw 0 #3476e4, -0.104vw 0.104vw 0 #3476e4, 0.104vw 0.104vw 0 #3476e4;
  @apply absolute top-[-1.042vw] left-[0.208vw] w-[100%] h-[100%] flex items-center justify-center text-white stroke-[0.104vw] text-[1.042vw] transition-all;
}
.itemCardValue {
  text-shadow: 0.104vw 0.104vw 0 #3476e4, -0.104vw -0.104vw 0 #3476e4, 0.104vw -0.104vw 0 #3476e4, -0.104vw 0.104vw 0 #3476e4, 0.104vw 0.104vw 0 #3476e4;
  @apply absolute top-[0.521vw] left-[0.26vw] w-[100%] h-[100%] flex items-center justify-center text-[1.823vw] text-white transition-all;
}
.itemCardScore {
  text-shadow: 0.104vw 0.104vw 0 #3476e4, -0.104vw -0.104vw 0 #3476e4, 0.104vw -0.104vw 0 #3476e4, -0.104vw 0.104vw 0 #3476e4, 0.104vw 0.104vw 0 #3476e4;
  @apply absolute top-[-0.26vw] left-[0.26vw] w-[100%] h-[100%] flex items-center justify-center text-[1.823vw] text-white transition-all;
}
.icsText {
  text-shadow: 0.104vw 0.104vw 0 #3476e4, -0.104vw -0.104vw 0 #3476e4, 0.104vw -0.104vw 0 #3476e4, -0.104vw 0.104vw 0 #3476e4, 0.104vw 0.104vw 0 #3476e4;
  @apply flex items-center justify-center text-[1.042vw] text-white ml-[0.26vw] transition-all;
}
.prStar {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/star.webp')] bg-cover bg-no-repeat w-[9.167vw] h-[7.656vw] mix-blend-screen absolute top-[-2.135vw] left-[-1.094vw];
}

.btnQuay {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/btn_quay_1x.webp')] bg-cover bg-no-repeat w-[19.219vw] h-[8.021vw] block bottom-[-5.469vw] left-[5.729vw] absolute;
}

.btnQuay10x {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/btn_quay_10x.webp')] bg-cover bg-no-repeat w-[19.219vw] h-[8.021vw] block bottom-[-5.469vw] right-[5.729vw] absolute;
}

.page2 {
  @apply w-[100vw] absolute top-[78.594vw];
}
.pageTitle2 {
  @apply static mx-auto mb-[1.042vw];
}
.titleText2 {
  @apply absolute top-[2.76vw] left-[5.573vw] uppercase text-[#e96a19] text-[1.615vw];
}
.pageDesc {
  @apply mx-auto text-[1.25vw] text-white w-[43.49vw] text-center mb-14;
}
.page2Content {
  @apply grid grid-cols-3 grid-rows-2 w-[62.5vw] mx-auto gap-y-[3.906vw];
}
.p2Item {
  padding: 12.396vw 3.021vw 0.573vw 4.531vw;
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/page2_item_bg.webp')] bg-cover bg-no-repeat w-[17.344vw] h-[14.792vw] relative cursor-pointer hover:scale-105;
}
.p2ItemText {
  @apply text-[1.25vw] text-[#00198d] text-center;
}

.footer {
  @apply text-[#000] p-[1.042vw] md:text-center text-[0.781vw] bg-cover absolute z-50 top-[148.438vw] w-[100vw];
}
.footerInner {
  @apply md:w-[1000px] m-0 ml-auto mr-auto;
}
.sohaFooter {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/sohagame-black.webp')] bg-cover bg-no-repeat w-[9.583vw] h-[3.333vw] block absolute;
}
.play18H {
  @apply md:block hidden absolute right-[5.208vw] top-0;
}

.mnNavtop {
  padding: 7.135vw 0.469vw 0.625vw 1.406vw;
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/menuright_zone.webp')] bg-cover  bg-no-repeat w-[10.365vw] h-[16.979vw] fixed top-[25%] right-[0vw] z-50;
}

.mnNavItem {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/menuright_bg.webp')] w-[8.125vw] h-[2.24vw] flex items-center justify-center text-[#0b2c6b] text-[1.302vw] cursor-pointer mb-[0.573vw];
  &:hover {
    @apply bg-[url('/project/pX9TNcP/both/img/landing202305/menuright_bg_active.webp')] text-[#a74100];
  }
}



/*Dialog Styles*/
.dialogSmall {
  @apply p-[1.042vw] pb-[1.458vw] bg-[url('/project/pX9TNcP/both/img/landing202305/pop-up-large.webp')] bg-cover bg-no-repeat w-[32.552vw] h-[19.844vw] flex justify-center align-top items-start content-start flex-wrap text-white hover:saturate-200 transition-all grayscale-[50%] hover:grayscale-0;
	animation: fadeIn 1s ease both;
}
.dialogTitle {
  @apply text-white text-[2.604vw] mx-[2.604vw] uppercase;
}
.dialogBtnShare {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/btnShare.webp')] bg-cover w-[15.469vw] h-[4.792vw] mx-[2.604vw] scale-90 hover:saturate-200 transition-all grayscale-[70%] hover:grayscale-0 cursor-pointer;
}
.dialogBtnPayment {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/btnPayment.webp')] bg-cover w-[15.469vw] h-[4.792vw] mx-[2.604vw] scale-90 hover:saturate-200 transition-all grayscale-[70%] hover:grayscale-0 cursor-pointer;
}
.dialogText {
  @apply text-[1.563vw] mx-[2.604vw];
}
.giftHeadTitle {
  @apply mb-[0.521vw];
}
.dialogGift {
  @apply text-[3.646vw] text-[#fff600] p-[1.042vw] bg-[#002f9c] rounded-[0.521vw] w-[70%] text-center outline-none;
}

.dialogLarge {
  @apply w-[63.958vw] h-[38.958vw];
}
.dialogLargeContent {
  @apply p-[1.042vw] h-[30.26vw] overflow-y-auto w-full;
}
.textRule {
  @apply text-[1.354vw] mb-[0.521vw];
}

.tableGift {
  font-family: Arial, Helvetica, sans-serif;
  @apply w-[100%] mx-auto;
  .giftTitle{
    @apply w-[32%];
  }
  th,td{
    @apply px-[2.083vw] py-[0.417vw] border-b-white border-b-[0.052vw] text-white text-center;
  }
  th {
    @apply bg-white text-[#111];
  }
  th:first-child,td:first-child {
    @apply text-left;
  }
  th:last-child,td:last-child {
    @apply text-right;
  }
  .giftBtn {
    @apply bg-[#d01400] text-white rounded-[0.26vw] px-[2.083vw] text-[1.042vw] cursor-pointer hover:bg-[#3169a7] hover:text-[#fff] transition-all;
    &.disable{
      @apply bg-[#999] cursor-not-allowed;
    }
  }
}

dialog {
	@apply pt-[2.917vw] bg-transparent overflow-hidden;
	&::backdrop {
    @apply transition-all grayscale-[20%] hover:grayscale-0 backdrop-blur-[0.521vw] hover:backdrop-blur-[1.302vw];
		animation: fadeIn 1s ease both;
		background: rgb(0 32 81 / 50%);
		z-index: 2;
	}
  &:hover{
    &::backdrop {
      background: rgb(255 255 255 / 10%);
    }
  }
	.x {
    @apply text-white border-none bg-none absolute top-[0] right-0 transition-all ease-in-out duration-300 cursor-pointer origin-center outline-none text-[2.604vw] leading-[2.604vw] font-bold hover:text-[#e96a19] scale-110;
	}
}

:root {
  --firstSrc: #f0f0f000;
  --twoSrc: #c2c2c269;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--firstSrc) var(--twoSrc);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--firstSrc);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--twoSrc);
  border-radius: 20px;
  border: 3px solid var(--firstSrc);
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

img {
  @apply h-auto w-auto;
}











/************************************************************ mobile ******************************************************************************************************/
.m_bgLanding {
  @apply hidden max-lg:block h-[100%] w-[100%] bg-cover;
}

.landing {
  @apply max-lg:w-[100vw] mx-0 overflow-hidden;
}

.page1 {
  @apply max-lg:w-[100vw];
}
.logo {
  @apply max-lg:top-[88.75vw] max-lg:left-[35.938vw] max-lg:w-[31.25vw];
}

.pageTitle {
  @apply max-lg:top-[160.938vw] max-lg:left-[9.063vw] max-lg:w-[84.687vw] max-lg:h-[27.345vw] ;
}
.pageLeft {
  @apply max-lg:top-[250vw] max-lg:left-[3.125vw] max-lg:w-[89.063vw] max-lg:grid max-lg:grid-cols-2;
}
.plTitle {
  @apply max-lg:w-[45.313vw] max-lg:h-[14.375vw] max-lg:bg-cover max-lg:text-[3.75vw];
}
.titleText {
  @apply max-lg:top-[7.344vw] max-lg:left-[13.593vw] max-lg:text-[4.845vw];
}
.plTitle2 {
  @apply max-lg:mt-[0];
}

.plItem {
  @apply max-lg:absolute max-lg:w-[29.844vw] max-lg:h-[8.124vw] max-lg:text-[3.282vw] max-lg:mb-[1.563vw];
}
.plMobile1 {
  @apply max-lg:top-[15.625vw] max-lg:left-[9.063vw];
}
.plMobile2 {
  @apply max-lg:top-[27.344vw] max-lg:left-[9.063vw];
}

.plMobile3 {
  @apply max-lg:top-[15.625vw] max-lg:left-[53.125vw];
}
.plMobile4 {
  @apply max-lg:top-[27.344vw] max-lg:left-[53.125vw];
}

.txtDiem {
  @apply max-lg:text-[4.844vw];
}

.pageRight {
  @apply max-lg:top-[192.188vw] max-lg:left-[0] max-lg:w-[100vw] max-lg:h-[42.188vw] max-lg:pl-[1.563vw];
}

.prItem {
  @apply max-lg:bg-cover max-lg:w-[19.531vw] max-lg:h-[17.813vw] overflow-hidden;
}
.prStar {
  @apply max-lg:top-[-3.75vw] max-lg:left-[-1.875vw] max-lg:bg-cover max-lg:w-[17.813vw] max-lg:h-[14.844vw];
}
.itemCard {
  @apply max-lg:text-[2.031vw] max-lg:left-[0.313vw] max-lg:top-[-1.875vw];
}
.itemCardValue {
  @apply max-lg:text-[3.438vw] max-lg:left-[0.469vw] max-lg:top-[1.406vw];
}
.itemCardScore {
  @apply max-lg:text-[3.438vw] max-lg:left-[0vw] max-lg:top-[-0.313vw];
}
.icsText {
  @apply max-lg:text-[2.031vw];
}

.btnQuay {
  @apply max-lg:bottom-[-10.938vw] max-lg:left-[9.375vw] max-lg:w-[37.344vw] max-lg:h-[15.313vw] max-lg:bg-cover;
}
.btnQuay10x {
  @apply max-lg:bottom-[-10.938vw] max-lg:right-[9.375vw] max-lg:w-[37.344vw] max-lg:h-[15.313vw] max-lg:bg-cover;
}
.page2 {
  @apply max-lg:top-[295.313vw] max-lg:w-[100vw];
}
.pageDesc {
  @apply max-lg:w-full max-lg:px-[3.125vw] max-lg:mb-[7.813vw] max-lg:text-[3.75vw];
}
.page2Content {
  @apply max-lg:w-[100vw] max-lg:grid-cols-2 max-lg:gap-y-[7.813vw] max-lg:pl-[5.469vw];
}
.p2Item {
  @apply max-lg:w-[40.625vw] max-lg:h-[34.375vw] max-lg:bg-cover max-lg:pt-[28.281vw]  max-lg:pr-[6.875vw] max-lg:pl-[10.469vw];
}
.p2ItemText {
  @apply max-lg:text-[2.969vw] max-lg:leading-[5.625vw];
}

.mnNavtop {
  @apply max-lg:absolute max-lg:top-0 max-lg:left-0 max-lg:bg-none max-lg:w-[100vw] max-lg:h-[17.656vw] max-lg:p-0;
}

.mnNavItem {
  @apply max-lg:absolute max-lg:bg-none max-lg:indent-[-156.25vw]  max-lg:w-[7.813vw]  max-lg:h-[7.813vw]  max-lg:rounded-full;
  &:hover{
    @apply max-lg:bg-none;
  }
}
.linkDownload {
  @apply max-lg:top-[0] max-lg:left-0 max-lg:w-[57.813vw]  max-lg:h-[17.188vw];
}
.linkHome {
  @apply max-lg:top-[3.75vw] max-lg:right-[4.688vw];
}
.linkFange {
  @apply max-lg:top-[3.75vw] max-lg:right-[15.938vw];
}

.footer {
  @apply max-lg:top-[479.688vw] max-lg:w-[100vw] max-lg:mx-auto max-lg:text-[2.031vw] max-lg:text-center;
}
.footerInner {
  @apply max-lg:w-[90%];
}
.sohaFooter {
  @apply max-lg:static max-lg:mx-auto max-lg:mb-[3.125vw];
}
.play18H {
  @apply max-lg:hidden;
}

/*Dialog Styles*/
.dialogSmall {
  @apply bg-[url('/project/pX9TNcP/both/img/landing202305/pop-up-large-mobile.webp')] max-lg:p-[3.126vw] max-lg:pb-[4.374vw] max-lg:w-[91.10vw] max-lg:h-[62.4vw];
	animation: fadeIn 1s ease both;
}
.dialogTitle {
  @apply max-lg:text-[4.688vw] max-lg:mx-[7.812vw];
}
.dialogBtnShare {
  @apply max-lg:w-[46.407vw] max-lg:h-[14.376vw] max-lg:mx-[7.812vw] max-lg:mt-[6.25vw];
}
.dialogBtnPayment {
  @apply max-lg:w-[46.407vw] max-lg:h-[14.376vw] max-lg:mx-[7.812vw];
}
.dialogText {
  @apply max-lg:text-[3.125vw] max-lg:mx-[7.812vw];
}
.giftHeadTitle {
  @apply max-lg:mb-[7.813vw] max-lg:pt-[6.25vw] ;
}
.dialogGift {
  @apply max-lg:text-[10.938vw] max-lg:text-[#fff600] p-[3.126vw] bg-[#002f9c] rounded-[1.563vw] max-lg:w-[70%];
}

.dialogLarge {
  @apply max-lg:w-[91.10vw] max-lg:h-[62.4vw];
}
.dialogLargeContent {
  @apply max-lg:p-[1vw] max-lg:pb-[2vw] max-lg:h-[49vw];
}
.textRule {
  @apply max-lg:text-[4.062vw] max-lg:mb-[1.563vw];
}

.tableGift {
  .giftTitle{
    @apply max-lg:w-[32%];
  }
  th,td{
    @apply max-lg:px-[6.249vw] max-lg:py-[1.251vw] max-lg:border-b-[0.156vw];
  }
  th {
    
  }
  
  .giftBtn {
    @apply max-lg:rounded-[0.78vw] max-lg:px-[2vw] max-lg:text-[2.5vw];
  }
}

dialog {
	@apply max-lg:pt-[8.751vw];
	&::backdrop {
    @apply max-lg:backdrop-blur-[1.563vw] max-lg:hover:backdrop-blur-[3.906vw];
	}
  
	.x {
    @apply max-lg:text-[7.812vw] max-lg:leading-[7.812vw];
	}
}
