@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'font1';
  src: url('/fonts/font1.TTF');
}

.font1 {
  font-family: 'font1', sans-serif;
}


